@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

:root {
    --main-color: #064789;

}

* {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}
::selection {
    background: #064789;
    color: #EBF2FA ;
}
    html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: #427AA1 ;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

/*Header start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #427AA1;
  box-shadow: 0rem .1rem .5rem #064789;
  z-index: 1000;

}

.header .logo {
    font-size: 2.5rem;
    color:#EBF2FA;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.header .logo span {
    color:#EBF2FA;
    text-transform: uppercase;
}

.header .navbar a{
    font-size: 1.7rem;
    color: #EBF2FA;
    margin: 0 1rem;
}

#exercise-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.exercise1, .exercise2, .exercise3 {
  width: 30%;
  height: 220px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  word-wrap: break-word;

}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

.reSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
   } 

#recipeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;

}

.recipe1, .recipe2, .recipe3 {
  width: 30%;
  height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  word-wrap: break-word;
}
.header .navbar a:hover {
    color: #427AA1;
}

.header .icons div {
    font-size: 2.5rem;
    color: #EBF2FA;
    padding: .5rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.header .icons div:hover {
    transform: rotate(180deg);
}

.header.icons a{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: #EBF2FA;
    background: #427AA1;
    font-weight: 500;
    text-transform: uppercase;
    padding: .8rem 2rem;
    border: none;
}

.header.icons a:hover {
    color: var(--main-color);
    background: #427AA1;
}

#menu-btn {
    display: none;
}

/*Header ends */


/* media queries start */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-btn{
      display: inline-block;  
    }
    .header.navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #064789;

    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .header .icons a{
        letter-spacing: none;
        font-size: 1.3rem;
        padding: 1rem;
    }
}

/* media queries finished */
 
