@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@600&display=swap");

:root {
  --main-color: #064789;
}

* {
  font-family: "poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}
::selection {
  background: #064789;
  color: #ebf2fa;
}
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: #427aa1;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

/*Header start */

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #064789;
  color: #fff;
}

.login-btn {
  background: linear-gradient(to right, #00b4db, #0083b0);
  border: none;
  color: #ebf2fa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.login-btn:hover {
  background: #0083b0;
  color: white;
}

/*section one CSS*/

#section-one {
  padding: 200px 20px;
}
.exercise1,
.exercise2,
.exercise3 #exercise-container {
  display: grid;
  grid-template-areas:
    "excercise-one"
    "excercise-two"
    "excercise-three";
  gap: 20px;
}

#exercise-container div:nth-child(1) {
  grid-area: excercise-one;
  padding: 20px;
  border: white 3px solid;
  border-radius: 15px 50px 30px 5px;
  color: #ebf2fa;
  background-color: rgba(0, 180, 219, 0.2);
  word-wrap: break-word;
}

#exercise-container div:nth-child(2) {
  grid-area: excercise-two;
  padding: 20px;
  border-radius: 15px 50px 30px 5px;
  border: white 3px solid;
  color: #ebf2fa;
  background-color: rgba(0, 180, 219, 0.2);
  word-wrap: break-word;
}

#exercise-container div:nth-child(3) {
  grid-area: excercise-three;
  padding: 20px;
  border: white 3px solid;
  border-radius: 15px 50px 30px 5px;
  color: #ebf2fa;
  background-color: rgba(0, 180, 219, 0.2);
  word-wrap: break-word;
}
#tagline {
  color: #ebf2fa;
  text-align: center;
  padding: 50px;
  text-decoration: underline;
  font-size: 60px;
}
main {
  background-image: url("/assets/backgroundImage.png");
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  height: 100%;
  background-size: cover;
  color: #ebf2fa;
  text-decoration: double;
  font-size: 30px;
  border-radius: 5px white;
}

/*section one Desktop*/
@media only screen and (min-width: 768px) {
  #exercise-container {
    display: grid;
    grid-template-areas: "excercise-one excercise-two excercise-three";
    gap: 50px;
  }
}
/* I try to do a buuton for heath calculator */
.login-btn {
  color: #ebf2fa;
  text-align: center;
}
/*
.exercise1, .exercise2, .exercise3 {
  width: 30%;
  height: 220px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  word-wrap: break-word;
}

} /*
/*
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#recipeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.recipe1,
.recipe2,
.recipe3 {
  width: 30%;
  height: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  word-wrap: break-word;
}
.header .navbar a:hover {
  color: #427aa1;
}

.header .icons div {
  font-size: 2.5rem;
  color: #ebf2fa;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.header .icons div:hover {
  transform: rotate(180deg);
}

#menu-btn {
  display: none;
}

/* footer styles */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #064789;
  color: white;
  padding: 20px;
  flex-shrink: 0;
}

footer p {
  font-size: 2em;
  margin-bottom: 10px;
}

.social-media-icons {
  color: #ebf2fa;
  font-size: 2.5rem;
  height: auto;
  margin: 0 15px;
}

.fa-icon {
  color: white;
  font-size: 2.5rem;
  margin: 0 10px;
}

.fa-icon:visited {
  color: white;
}

/* media queries start */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
}

/* media queries finished */

@media (max-width: 768px) {
  #logo img {
    width: 60%;
    height: auto;
  }

  .login-btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  header {
    padding: 10px;
  }
}
